body{
    min-height: 100vh;
    background: linear-gradient(to right top, rgb(144,104,212), rgb(75,177,223));
    color: black;
    position: relative;
}

footer{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.596);
}

.present {
    background-color: #333;
    background-image: url(./assets/img1.png);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 35vh 0;
}

.equipe-peda {
    background-color: rgb(99, 99, 99);
    background-image: url(./assets/cirque_enfants.png);
    background-size: cover;
    background-blend-mode: multiply;
    padding: 15vh 0;
}

.cropped1 {
    width: 700px; /* width of container */
    height: 700px; /* height of container */
    object-fit: cover;
}

.highlight{
    font-size: 38px;
    align-items: center;
    text-align: center;
}

.info{
    background-color: rgb(255, 116, 61);
    color: rgb(121, 48, 0);
    font-family: 'Roboto';
    font-weight: bold;
    height: 250px;
    width: 250px;
}

.row-pedagogie{
    background-color: rgba(212,67,67);
    font-size: 25px;
}

.rowcustom h1 {
    font-size: 30px;
}

.rowcustom img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.activitiescstm p {
    font-size: 25px;
}

.navbar {
    font-size: 24px;
}

.highlight1 {
    border-radius: 50%;
    background-color: rgb(255, 255, 42);
    align-items: center;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.highlight2 {
    border-radius: 50%;
    background-color: rgb(255, 57, 57);
    align-items: center;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.highlight3 {
    border-radius: 50%;
    background-color: rgb(255, 62, 255);
    align-items: center;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.highlight img {
    max-width: 200px;
}